/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

body {
  font-family: 'Source Sans Pro';
  color: var(--ifr-color-neutral-90);
}

[data-theme='dark'] body {
  color: var(--ifr-color-neutral-10);
}

.landingPage {
  background: linear-gradient(
    45deg,
    rgba(225, 230, 250, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(249, 214, 230, 1) 100%
  );
}

/* Menu styles */
.menu,
.navbar__link {
  font-weight: 600;
}

.navbar__title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--ifr-color-neutral-90);
}

[data-theme='dark'] .navbar__title {
  color: var(--ifr-color-neutral-10);
}

.menu,
.navbar__item {
  padding-right: 5px;
  padding-left: 5px;
}

.navbar,
.navbar__fixed-top {
  padding-left: 24px;
  padding-right: 24px;
}

/* Nav-bar styles*/
.header-routes {
  color: #1c1533;
  font-size: 16px;
  font-weight: 400;
}

.custom-navbar-logo-class {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url('./../../static/img/pixee-logo.png') no-repeat;
  background-size: cover;
}

[data-theme='dark'] .header-routes {
  color: #fbfafb;
}

[data-theme='dark'] .navbar__link:hover {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
  font-weight: 400;
}

[data-theme='dark'] .navbar__link--active {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
  font-weight: 700;
}

[data-theme='dark'] .navbar__link--active:hover {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
  font-weight: 700;
}

.navbar__link:hover {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
  font-weight: 400;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
  font-weight: 700;
}

.navbar__link--active:hover {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
  font-weight: 700;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url('./../../static/img/github-icon-light.svg') no-repeat;
  background-size: cover;
}

.header-slack-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url('./../../static/img/slack-icon-light.svg') no-repeat;
  background-size: cover;
}

[data-theme='dark'] .header-github-link::before {
  background: url('./../../static/img/github-icon-dark.svg') no-repeat;
  background-size: cover;
}

[data-theme='dark'] .header-slack-link::before {
  background: url('./../../static/img/slack-icon-dark.svg') no-repeat;
  background-size: cover;
}

/* Footer styles */
.footer {
  background-color: #fff;
  padding-bottom: 24px;
  padding: 10px 80px 10px 80px;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #656074;
}

.footer a {
  color: #656074;
}

.footer a:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.footer .container {
  max-width: none;
}

.footer .footerContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer .links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  color: #656074;
}

.footer .socialIcons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer .copyright span {
  font-weight: 700;
}

.footer-twitter-link::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  background: url('./../../static/img/twitter-icon-light.svg') no-repeat;
  background-size: cover;
}

[data-theme='dark'] .footer-twitter-link::before {
  background: url('./../../static/img/twitter-icon-dark.svg') no-repeat;
  background-size: cover;
}

.footer-linkedin-link::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  background: url('./../../static/img/linkedin-icon-light.svg') no-repeat;
  background-size: cover;
}

[data-theme='dark'] .footer-linkedin-link::before {
  background: url('./../../static/img/linkedin-icon-dark.svg') no-repeat;
  background-size: cover;
}

/* Mobile view styles*/
@media (max-width: 800px) {
  .footer {
    padding: 0;
  }
  .footer .col {
    margin-bottom: 10px;
  }
  .footer .footerContent {
    flex-direction: column;
    text-align: center;
  }
  .footer .socialIcons {
    justify-content: center;
  }
  .footer .links {
    flex-direction: column;
    gap: 0;
  }
}

:root {
  --ifm-color-primary: #c10b5e;
  --ifm-color-primary-dark: #d1025c;
  --ifm-color-primary-darker: #c50257;
  --ifm-color-primary-darkest: #a20147;
  --ifm-color-primary-light: #fd0571;
  --ifm-color-primary-lighter: #fd1077;
  --ifm-color-primary-lightest: #fd338b;
  --ifr-color-neutral-10: #fbfafb;
  --ifr-color-neutral-20: #e6e4ea;
  --ifr-color-neutral-70: #3d3751;
  --ifr-color-neutral-80: #2c2541;
  --ifr-color-neutral-90: #1c1533;
  --ifr-color-neutral-white: #fff;
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-heading-font-family: 'Poppins', sans-serif;
  --ifm-background-color: var(--ifr-color-neutral-10);
}

/* Dark mode styles */
[data-theme='dark'] {
  --ifm-color-primary: #39e7ad;
  --ifm-color-primary-dark: #1fe4a2;
  --ifm-color-primary-darker: #1ada9a;
  --ifm-color-primary-darkest: #16b47f;
  --ifm-color-primary-light: #53eab8;
  --ifm-color-primary-lighter: #60ecbd;
  --ifm-color-primary-lightest: #86f0cd;
  --docusaurus-highlighted-code-line-bg: rgb(10, 46, 146);
}

html[data-theme='dark'] {
  --ifm-background-color: #1c1533;
}

[data-theme='dark'] .landingPage {
  background: radial-gradient(circle, rgba(52, 52, 79, 1) 0%, rgba(28, 21, 51, 1) 60%);
}

[data-theme='dark'] .navbar {
  background-color: var(--ifr-color-neutral-80);
}

[data-theme='dark'] .footer {
  background-color: #1c1533;
  color: #aeabb6;
}

[data-theme='dark'] .footer .links,
[data-theme='dark'] .footer .links a {
  color: #aeabb6;
}

[data-theme='dark'] .footer a:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

/* Doc file styles */

.language-diff,
.language-python,
.language-yaml,
.language-java,
.language-xml,
.language-binary {
  --prism-background-color: var(--ifr-color-neutral-white);
}

[data-theme='dark'] .language-diff,
[data-theme='dark'] .language-python,
[data-theme='dark'] .language-yaml,
[data-theme='dark'] .language-java,
[data-theme='dark'] .language-xml,
[data-theme='dark'] .language-binary {
  --prism-background-color: var(--ifr-color-neutral-80);
}

/* Doc file styles */

.language-diff,
.language-python,
.language-yaml,
.language-java,
.language-xml,
.language-binary {
  --prism-background-color: var(--ifr-color-neutral-white);
}

[data-theme='dark'] .language-diff,
[data-theme='dark'] .language-python,
[data-theme='dark'] .language-yaml,
[data-theme='dark'] .language-java,
[data-theme='dark'] .language-xml,
[data-theme='dark'] .language-binary {
  --prism-background-color: var(--ifr-color-neutral-80);
}

/* left side bar */

/* light mode default */
.theme-doc-sidebar-item-category li .menu__link,
.theme-doc-sidebar-menu li .menu__link {
  border-left: 4px solid #fbfafb;
  color: var(--ifr-color-neutral-90);
  font-weight: 400;
}

/* light mode default hover */
.theme-doc-sidebar-item-category li .menu__link:hover,
.theme-doc-sidebar-menu li .menu__link:hover {
  border-left: 4px solid #ebedf0;
  color: var(--ifm-color-primary);
  font-weight: 400;
}

/* light mode active */
.theme-doc-sidebar-item-category li .menu__link.menu__link--active,
.theme-doc-sidebar-menu li .menu__link.menu__link--active {
  border-left: 4px solid #e80266;
  color: var(--ifm-color-primary);
  font-weight: 700;
}

/* light mode active hover */
.theme-doc-sidebar-item-category li .menu__link.menu__link--active:hover,
.theme-doc-sidebar-menu li .menu__link.menu__link--active:hover {
  border-left: 4px solid #e80266;
  color: var(--ifm-color-primary);
  font-weight: 700;
}

/* dark mode default */
[data-theme='dark'] .theme-doc-sidebar-item-category li .menu__link,
[data-theme='dark'] .theme-doc-sidebar-menu li .menu__link {
  border-left: 4px solid #1c1533;
  color: var(--ifr-color-neutral-10);
  font-weight: 400;
}

/* dark mode default hover */
[data-theme='dark'] .theme-doc-sidebar-item-category li .menu__link:hover,
[data-theme='dark'] .theme-doc-sidebar-menu li .menu__link:hover {
  border-left: 4px solid #2c2541;
  color: #39e7ad;
  font-weight: 400;
}

/* dark mode active */
[data-theme='dark'] .theme-doc-sidebar-item-category li .menu__link.menu__link--active,
[data-theme='dark'] .theme-doc-sidebar-menu li .menu__link.menu__link--active {
  border-left: 4px solid #39e7ad;
  color: var(--ifm-color-primary);
  font-weight: 700;
}

/* dark mode active hover */
[data-theme='dark'] .theme-doc-sidebar-item-category li .menu__link.menu__link--active:hover,
[data-theme='dark'] .theme-doc-sidebar-menu li .menu__link.menu__link--active:hover {
  color: #39e7ad;
  font-weight: 700;
}

[data-theme='dark'] .theme-doc-sidebar-item-category li .menu__link,
[data-theme='dark'] .theme-doc-sidebar-menu li .menu__link {
  color: var(--ifr-color-neutral-10);
}
[data-theme='dark'] .theme-doc-sidebar-item-category li [data-theme='dark'] .menu__link.menu__link--active,
.theme-doc-sidebar-menu li .menu__link.menu__link--active {
  color: var(--ifm-color-primary);
}

.menu__link--active:not(.menu__link--sublist) {
  border-left: 4px solid #e80266;
  background-color: var(--ifr-color-neutral-20);
}

[data-theme='dark'] .menu__link--active:not(.menu__link--sublist) {
  border-left: 4px solid #39e7ad;
  background: var(--ifr-color-neutral-80);
}

/* Right side bar */

.table-of-contents li a {
  color: var(--ifr-color-neutral-90);
}

.table-of-contents li a.table-of-contents__link--active {
  color: var(--ifm-color-primary);
}

[data-theme='dark'] .table-of-contents li a {
  color: var(--ifr-color-neutral-10);
}

[data-theme='dark'] .table-of-contents li a.table-of-contents__link--active {
  color: var(--ifm-color-primary);
}

.table-of-contents {
  border-color: var(--ifr-color-neutral-20);
}

[data-theme='dark'] .table-of-contents {
  border-color: var(--ifr-color-neutral-70);
}
